<header class="header">
  <div class="container">
    <!-- Logo + título -->
    <div class="branding">
      <img src="https://sdmntprcentralus.oaiusercontent.com/files/00000000-e1c8-61f5-8a3a-29591afba446/raw?se=2025-10-01T06%3A32%3A41Z&sp=r&sv=2024-08-04&sr=b&scid=7cff86fa-c129-5542-92bf-3f002086463b&skoid=ec8eb293-a61a-47e0-abd0-6051cc94b050&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-09-30T23%3A11%3A04Z&ske=2025-10-01T23%3A11%3A04Z&sks=b&skv=2024-08-04&sig=ktahmJEKbwmO915AbKDz8u3%2B9%2ByX0AWlVXgs6P/kDNU%3D" alt="Logo Venta de Autos" class="logo">
      <h1 class="title">AutoVibe</h1>
    </div>

    <!-- Contacto -->
    <div class="contact">
      <div class="item">
        <span class="material-icons">phone</span>
        <span>+51 999 123 456</span>
      </div>
      <div class="item">
        <span class="material-icons">email</span>
        <span>ventas&#64;autos.com</span>
      </div>
    </div>
  </div>
</header>
